.content_text{style: "padding-top:0;"}
  = image_tag "/img/medical/list_header_image.png", class: 'width_full'
  = image_tag "/img/medical/list_header_ment.png", class: 'margin_4per margin_top_5per'
  = image_tag "/img/medical/list_content1.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content2.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content3.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content4.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content5.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content6.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content7.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content8.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content9.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content10.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content11.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content12.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content13.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content14.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content15.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content16.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content17.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content18.png", class: 'margin_3per margin_top_5per'
  = image_tag "/img/medical/list_content19.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content20.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content21.png", class: 'margin_1per margin_top_5per'
  = image_tag "/img/medical/list_content22.png", class: 'margin_3per margin_top_5per'
  .medical_banner
    = image_tag "/img/main/minitec_image_contents.png", class: ''
    .medical_banner_button
      %a{href: "/minitec", target: "_self"}
        = image_tag "/img/common/see_more_button.png", class: ''
  .medical_banner
    = image_tag "/img/main/wm_image_contents.png", class: ''
    .medical_banner_button
      %a{href: "/wm", target: "_self"}
        = image_tag "/img/common/see_more_button.png", class: ''
  %a{href: "/clip", target: "_self"}
    = image_tag "/img/common/bottom_banner_clips.png", class: 'margin_3per'
